body{
	font: 400 13px/1.5 Arial,Helvetica Neue,Helvetica,sans-serif; 
	color:  #797b7f;
	background-image: linear-gradient(#90EE90, #20B2AA);
}
.ba-row{
	margin-left: -16px;
}
.ba-row + .ba-row{
	margin-top: 16px;
}
.ba-row > [class*='ba-col-']{
	padding-left: 16px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}
a{
	color: #e22a6c;
	font-size: 12px;
	font-weight: 700;
}
a:hover,
a:focus{
	text-decoration: none;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
main{
	padding: 65px 0;
}
.ba-form-signup{
	max-width: 460px;
	background: #FCFCFC;
	margin: 0 auto;
	padding: 27px 30px 61px;
}
.ba-input-textup{
	position: relative;
	color: #797b7f;
	font-size: 14px;
	font-weight: 400;
}
.ba-input-textup label{
	position: absolute;
	top: 12px;
	left: 44px;
	transition: transform 0.5s ease-in, color 0.4s ease-in;
	transform-origin: 0 50%;
}
.ba-input-textup :focus ~ label,
.ba-input-textup :valid ~ label{
	transform: translateY(-30px) scale(0.7);
	color: purple;
}
.ba-form-signup__title-main{
	color:  #1b1c1d;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}
.ba-form-signup__title-main::before{
	content: "";
	background: url(../img/signup_icon.png) no-repeat;
	height: 30px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
}
.ba-form-signup__title p{
	margin-bottom: 34px;
}
.ba-form-signup p a{
	text-decoration: none;
}
.ba-form-signup p a:hover{
	text-decoration: underline;
}
.ba-form-row input{
	padding: 14px;
	margin-bottom: 15px;
	background: #f0f0f0;
	border: none;
	border-radius: 4px;
}
.ba-form-signup__footer button{
	background: #E83159;
	box-shadow: 0px 3px 0px 0px #bd1962;
	width: 400px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #E83159;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}
.ba-form-signup__footer button:hover{
	background: #990a29;
	color:#FFFAFA;
	border: 1px solid #66051a;
	box-shadow: 0px 3px 0px 0px #500515;


}
.ba-form-signup__footer button:active{
	background: none;
	color: none;
	

}
